// HomePage Component Styles
.home__main {
	height: 100vh;
	position: absolute;
	width: 100vw;
}

.home__main-content {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
