// DiaryView Component Styles
.diary__main {
	display: flex;
}

// Sidebar Component Styles
.diary__sidebar {
	background-color: $background_color_third;
	color: $text_color;
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 30%;

	.diary__sidebar-navbar {
		align-items: center;
		background-color: $background_color_secondary;
		display: flex;
		justify-content: space-between;
		padding: 0 10px;

		h3 {
			font-size: $font_size_button;
			font-weight: $font_weight_button;
		}

		.diary__sidebar-navbar-logout {
			background-color: transparent;
			border: none;
			border-radius: 5px;
			color: $text_color;
			cursor: pointer;
			font-size: $font_size_button;
			font-weight: $font_weight_button;
			height: 40px;
			letter-spacing: 2px;
			padding: 0 10px;
			transition: $transition;

			&:hover {
				background-color: $background_color_third;
				transform: scale(1.1);
			}
		}
	}

	.diary__new-note {
		align-items: center;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 30px;
		padding: 15px 0;
		transition: $transition;
		width: 100%;

		p {
			margin: 0;
			margin-top: 10px;
		}

		&:hover {
			background-color: $background_color_secondary;
		}
	}
}

// DiaryNotes Component Styles
.diary__notes {
	flex: 1 1 auto;
	margin-top: 30px;
	overflow-y: scroll;
}

.diary__single-note {
	align-items: center;
	background-color: $background_color_secondary;
	color: $text_color;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 15px;
	padding: 10px;
	transition: $transition;

	.diary__single-note-picture {
		border-radius: 5px;
		height: 100px;
		width: 100px;
	}

	.diary__single-note-body {
		text-align: center;

		.diary__single-note-title {
			color: $title_color;
			font-size: $font_size_button;
			font-weight: $font_weight_sub-title;
			margin: 10px 0;
		}
	}

	.diary__single-note-date-box {
		align-items: center;
		display: flex;
		flex-direction: column;

		span {
			font-size: $font_size_text;
		}

		h4 {
			margin: 0;
		}
	}

	&:hover {
		opacity: 0.5;
	}
}

// NoteSelected Component Styles
.diary__note-selected {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	width: 70vw;

	p {
		font-size: $font_size_title;
		text-align: center;
	}
}
