// Global Styles
* {
	box-sizing: border-box;
	font-family: $font_family;
}

body {
	background-color: $background_color_primary;
	margin: 0;
	overflow-x: hidden;
	padding: 0;
}

// Application Scroll Styles
*::-webkit-scrollbar {
	width: 5px;
}

*::-webkit-scrollbar-thumb {
	background: $title_color;
}

.title {
	color: $title_color;
	font-size: $font_size_title;
	font-weight: $font_weight_title;
	margin: 0;
	text-align: center;
}

.sub-title {
	color: $title_color;
	font-size: $font_size_sub_title;
	font-weight: $font_weight_sub_title;
	margin: 0;
}

p {
	color: $text_color;
	font-size: $font_size_text;
	font-weight: $font_weight_text;

	span {
		color: $title_color;
		font-weight: $font_weight_sub_title;
	}
}

.button {
	background-color: $background_color_third;
	border-radius: 5px;
	color: $text_color;
	font-size: $font_size_button;
	font-weight: $font_weight_button;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	transition: $transition;

	&:hover {
		background-color: lighten($background_color_third, 5);
		transform: scale(1.1);
	}
}
